<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="Fixtiktok - {{user}}" />
    <meta property="og:site_name" content="" />
    <meta property="og:url" content="fixtiktok.herokuapp.com" />
    <meta property="og:description" content="" />
    <meta property="og:video" content="{{video_url}}" />
    <meta property="og:video:secure_url" content="{{video_url}}" />
    <meta property="og:video:type" content="video/mp4" />
    <meta property="og:video:width" content="720" />
    <meta property="og:video:height" content="480" />
    <meta name="twitter:player:width" content="720" />
    <meta name="twitter:player:height" content="480" />
    <meta name="twitter:player:stream" content="{{video_url}}" />
    <meta name="twitter:player:stream:content_type" content="video/mp4" />
    <title>Fix Tiktok</title>
  </head>
  <body></body>
  <script>
    new Promise((resolve, reject) => setTimeout(resolve, 500))
      .then(
        ()=>window.location.href = "{{video_url}}"
      );
  </script>
</html>